### New York City Crash Analysis

##### Import pandas, plotly and matplotlib

In [24]:
import pandas as pd
import plotly.express as px

import matplotlib.pyplot as plt
%matplotlib inline

#### Load Crash data

In [25]:
columnDataTypes = { 'ON STREET NAME' : 'str', } 

dateOpts = { 'DATETIME' : [0, 1]}

columnsToRead = ['CRASH DATE', 'CRASH TIME', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME', 
                 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
                 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',]
# 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']

df1 = pd.read_csv('crashes.csv', 
                  dtype = columnDataTypes, 
                  parse_dates = dateOpts, 
                  infer_datetime_format = True,
                  usecols = columnsToRead )

#### Drop data before 2018

In [26]:
df1.set_index(['DATETIME'], inplace=True)

In [27]:
df1.shape

(1948483, 11)

In [28]:
df1.columns

Index(['LATITUDE', 'LONGITUDE', 'ON STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED'],
      dtype='object')

In [29]:
df1.drop( axis = 0, index = df1[:"12/31/2017"].index, inplace = True)
df1.shape

(759639, 11)

In [30]:
df2 = df1[ (df1.LATITUDE > 40.4) & (df1.LATITUDE < 41.0) & df1.LATITUDE.notna() ]

In [31]:
df2.shape

(698065, 11)

In [32]:
df3 = df2[(df2.LONGITUDE > -74.4) & (df2.LONGITUDE < -73.6) & df2.LONGITUDE.notna() ]

In [33]:
df3.shape

(698023, 11)

In [34]:
df4 = df3.dropna( axis = 0, subset = 'ON STREET NAME' )

In [35]:
df4.shape

(513908, 11)

In [36]:
df4.columns

Index(['LATITUDE', 'LONGITUDE', 'ON STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED'],
      dtype='object')

In [37]:
df4.reset_index(inplace = True)
df4.columns

Index(['DATETIME', 'LATITUDE', 'LONGITUDE', 'ON STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'],
      dtype='object')

In [38]:
df4.insert( loc = 1, column = 'Week',  value = df4['DATETIME'].dt.isocalendar().week )

In [39]:
df4.insert( loc = 1, column = 'Weekday', value  = df4['DATETIME'].dt.weekday )

In [40]:
#df4.insert( loc = 1, column = 'Year', value = df4['DATETIME'].dt.year )

In [53]:
df4

,DATETIME,Weekday,Week,LATITUDE,LONGITUDE,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,2021-12-14 08:13:00,1,50,40.683304,-73.917274,SARATOGA AVENUE,0.0,0.0,0,0,0,0,0,0
1,2021-12-14 17:05:00,1,50,40.709183,-73.956825,BROOKLYN QUEENS EXPRESSWAY,0.0,0.0,0,0,0,0,0,0
2,2021-12-14 14:58:00,1,50,40.751440,-73.973970,3 AVENUE,0.0,0.0,0,0,0,0,0,0
3,2021-12-13 00:34:00,0,50,40.701275,-73.888870,MYRTLE AVENUE,0.0,0.0,0,0,0,0,0,0
4,2021-12-14 16:50:00,1,50,40.675884,-73.755770,SPRINGFIELD BOULEVARD,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513903,2022-11-23 00:15:00,2,47,40.707947,-73.783310,178 STREET,1.0,0.0,0,0,0,0,1,0
513904,2022-11-10 16:50:00,3,45,40.694420,-73.931350,REID AVENUE,0.0,0.0,0,0,0,0,0,0
513905,2022-11-25 19:25:00,4,47,40.739080,-74.003090,WEST 13 STREET,0.0,0.0,0,0,0,0,0,0
513906,2022-11-24 17:30:00,3,47,40.829163,-73.937270,WEST 155 STREET,0.0,0.0,0,0,0,0,0,0
513907,2022-11-24 18:45:00,3,47,40.692150,-73.802470,LIVERPOOL STREET,0.0,0.0,0,0,0,0,0,0

In [42]:
for column in df4.columns:
  print(column, " - ", pd.api.types.infer_dtype( df4[column]) )

DATETIME  -  datetime64
Weekday  -  integer
Week  -  integer
LATITUDE  -  floating
LONGITUDE  -  floating
ON STREET NAME  -  string
NUMBER OF PERSONS INJURED  -  floating
NUMBER OF PERSONS KILLED  -  floating
NUMBER OF PEDESTRIANS INJURED  -  integer
NUMBER OF PEDESTRIANS KILLED  -  integer
NUMBER OF CYCLIST INJURED  -  integer
NUMBER OF CYCLIST KILLED  -  integer
NUMBER OF MOTORIST INJURED  -  integer
NUMBER OF MOTORIST KILLED  -  integer

In [43]:
streets = df4[['LATITUDE', 'LONGITUDE', 'ON STREET NAME']].copy()
#.drop_duplicates(subset = ['ON STREET NAME'], inplace=True)
streets.drop_duplicates(subset = ['LATITUDE', 'LONGITUDE'], inplace=True)
streets.to_csv('streets.csv', index=False)

In [46]:
columnsToAggregate = [ 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
                      'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
                      'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
                      'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED' ]

df5 =  df4.groupby(['ON STREET NAME', 'Week', 'Weekday'], as_index=False)[columnsToAggregate].mean()

In [52]:
df5

,ON STREET NAME,Week,Weekday,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
0,1 AVENUE,1,0,0.5,0.0,0.0,0.0,0.5,0.0,0.0,0.0
1,1 AVENUE,1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1 AVENUE,1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1 AVENUE,1,5,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1 AVENUE,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
303367,northern boulevard,42,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
303368,seagirt blvd,41,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
303369,w 36th street,42,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
303370,west 143 street,41,0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
303371,west 59 street,40,2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [48]:
df5[columnsToAggregate].sum(axis=0)

NUMBER OF PERSONS INJURED        120124.006311
NUMBER OF PERSONS KILLED            628.893216
NUMBER OF PEDESTRIANS INJURED     21914.308089
NUMBER OF PEDESTRIANS KILLED        301.058760
NUMBER OF CYCLIST INJURED         12436.360513
NUMBER OF CYCLIST KILLED             54.465512
NUMBER OF MOTORIST INJURED        83261.271240
NUMBER OF MOTORIST KILLED           251.368944
dtype: float64

In [49]:
df5[columnsToAggregate].describe()

,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED
count,303371.000000,303370.000000,303372.000000,303372.000000,303372.000000,303372.000000,303372.000000,303372.000000
mean,0.395964,0.002073,0.072236,0.000992,0.040994,0.000180,0.274453,0.000829
std,0.674813,0.043141,0.251006,0.029069,0.186307,0.012193,0.638962,0.028178
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000
max,18.000000,3.000000,7.000000,2.000000,3.000000,1.000000,18.000000,3.000000

In [51]:
df4.to_csv( 'df4.csv', index = False)
df5.to_csv( 'df5.csv', index = False)

In [ ]:
df1['DATETIME'].dt.year.min(),df1['DATETIME'].dt.year.max(),

In [ ]:
df1['DATETIME'].dt.isocalendar().week

In [ ]:
df1['DATETIME'].dt.isocalendar().week.hist()

In [ ]:
df1['DATETIME'].dt.isocalendar().week.value_counts()

In [ ]:
df1['DATETIME'].dt.weekday

In [ ]:
df1['DATETIME'].dt.weekday.hist()

In [ ]:
df1['DATETIME'].dt.weekday.value_counts()

In [ ]:
newIndex = df1['ON STREET NAME'].dropna().index
newIndex

In [ ]:
df2 = df1.iloc[newIndex]
df2

In [ ]:
df2.set_index(['DATETIME'], inplace=True)

In [ ]:
df2

In [ ]:
dDF = gDF[['DATETIME', 'ON STREET NAME', 
               'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
               'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
               'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
               'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'Week', 'Weekday']]
dDF

In [ ]:
dDF.groupby(['ON STREET NAME', 'Week', 'Weekday'], observed=True).mean(numeric_only=True).reset_index()

In [ ]:
pd.set_option('display.max_rows', 500)

In [ ]:
rDF

In [ ]:
crashDF.notna().sum()

In [ ]:
fig = px.histogram(crashDF, x="DATETIME")
fig.update_layout(bargap=0.2)
fig.show()

In [ ]:
fig = px.histogram(crashDF, x="BOROUGH")
fig.update_layout(bargap=0.2)
fig.show()

In [ ]:
crashDF.LATITUDE.min(), crashDF.LATITUDE.max(),

In [ ]:
fig = px.histogram(crashDF, x="LATITUDE")
fig.show()

Latitude contains invalid values

In [ ]:
df1 = crashDF[(crashDF.LATITUDE > 40.4) & (crashDF.LATITUDE < 41.0) & crashDF.LATITUDE.notna() ]
df1.shape

In [ ]:
fig = px.histogram(df1, x="LATITUDE")
fig.show()

In [ ]:
df1.LONGITUDE.min(), df1.LONGITUDE.max(),

In [ ]:
fig = px.histogram(df1, x="LONGITUDE")
fig.show()

Longitude contains invalid values

In [ ]:
df2 = df1[(df1.LONGITUDE > -74.4) & (df1.LONGITUDE < -73.6) & df1.LONGITUDE.notna() ]
df2.shape

In [ ]:
fig = px.histogram(df2, x="LONGITUDE")
fig.show()

In [ ]:
df2.head()

In [ ]:
df3 = df2[ df2['ON STREET NAME'].notna() ]
df3.shape

In [ ]:
df3.head()

In [ ]:
df3.to_csv('df3.csv')

In [ ]:
df3['CONTRIBUTING FACTOR VEHICLE 2'].notna().value_counts()

In [ ]:
df3['CONTRIBUTING FACTOR VEHICLE 2'].value_counts()

In [ ]:
df3['CONTRIBUTING FACTOR VEHICLE 3'].notna().value_counts()

In [ ]:
df3['CONTRIBUTING FACTOR VEHICLE 3'].value_counts()

'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5' - mostly 'unspecified' - DROP or merge

In [ ]:
df3['VEHICLE TYPE CODE 1'].notna().value_counts()

In [ ]:
df3['VEHICLE TYPE CODE 2'].notna().value_counts()

In [ ]:
df3['VEHICLE TYPE CODE 3'].notna().value_counts()

In [ ]:
df3['VEHICLE TYPE CODE 4'].notna().value_counts()

In [ ]:
df3['VEHICLE TYPE CODE 5'].notna().value_counts()

In [ ]:
df3['NUMBER OF PERSONS INJURED'].notna().value_counts()

In [ ]:
fig = px.histogram(df3, x='NUMBER OF PERSONS INJURED')
fig.show()

In [ ]:
df3['NUMBER OF PERSONS KILLED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF PERSONS KILLED')
fig.show()

In [ ]:
df3['NUMBER OF PEDESTRIANS INJURED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF PEDESTRIANS INJURED')
fig.show()

In [ ]:
df3['NUMBER OF PEDESTRIANS KILLED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF PEDESTRIANS KILLED')
fig.show()

In [ ]:
df3['NUMBER OF CYCLIST INJURED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF CYCLIST INJURED')
fig.show()

In [ ]:
df3['NUMBER OF CYCLIST KILLED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF CYCLIST KILLED')
fig.show()

In [ ]:
df3['NUMBER OF MOTORIST INJURED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF MOTORIST INJURED')
fig.show()

In [ ]:
df3['NUMBER OF MOTORIST KILLED'].notna().value_counts()
#       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
#       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
#       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
#       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'

In [ ]:
fig = px.histogram(df3, x='NUMBER OF MOTORIST KILLED')
fig.show()

In [ ]:
!ls

In [ ]:
for column in df3.columns:
  print(column, " - ", pd.api.types.infer_dtype(df3[column]))

In [ ]:
df3['BOROUGH'].notna().value_counts()

In [ ]:
df3['LOCATION']

In [ ]:
df3['LOCATION'].notna().value_counts()

In [ ]:
df3['ZIP CODE'].notna().value_counts()

In [ ]:
personDF = pd.read_csv('person.csv')
personDF.head()

In [ ]:
personDF.shape

In [ ]:
for column in personDF.columns:
  print(column, " - ", pd.api.types.infer_dtype(personDF[column]))

In [ ]:
vehicleDF = pd.read_csv('vehicles.csv')
vehicleDF.head()

In [ ]:
vehicleDF.columns

In [ ]:
for column in vehicleDF.columns:
  print(column, " - ", pd.api.types.infer_dtype(vehicleDF[column]))

In [ ]:
import geopandas
from shapely.geometry import Point
df = geopandas.tools.reverse_geocode(  
    [Point(40.73908,-74.00309), Point(40.736668,-73.997345), Point(40.6058769,-73.9859727)]
)
df

In [ ]:
# kmeans clustering
# decision trees

In [ ]:
px.set_mapbox_access_token(open(".mapbox_token").read())
fig = px.scatter_mapbox(df5, 
                        lat="LATITUDE", 
                        lon="LONGITUDE",
                        color="NUMBER OF PERSONS INJURED",
                        color_continuous_scale=px.colors.cyclical.IceFire, 
                        size_max=15, 
                        zoom=10)
fig.show()